{{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper" class="post">
            <article>
                  <h1>
                    {{ .Title }}
                  </h1>
                <section id="post-body">
                    {{ .Content }}
                </section>
                {{ if eq .Type "posts" }}
                <div class="date-line">
                  > {{ .Date.Format "Jan 2 2006" }}
                </div>
                {{ end }}
            </article>

            {{ partial "footer.html" . }}
        </section>
    </body>
</html>
