{{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section id="wrapper" class="post">
            <article>
                  <h1>
                    {{ .Title }}
                  </h1>
                  {{ if eq .Type "posts" }}
                  <div class="date-line">
                    {{ .Date.Format "Jan 2, 2006" }}
                  </div>
                  {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>

            {{ partial "footer.html" . }}
        </section>
        <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
    </body>
</html>
