{{ partial "head.html" . }}
   <body>
      {{ partial "nav.html" . }}

     <section id="wrapper" class="post">
         <header>
           <h1>
             Tags
           </h1>
         </header>
           <div id="post-body">
               <ul>
                  {{ $data := .Data }}
                  {{ range $key, $value := .Data.Terms.Alphabetical }}
                     {{ if ($value.Name) }}
                        <li>
                           <a href="{{ $.Site.BaseURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}">
                              {{ $value.Name | upper }} <span>({{ $value.Count }})</span>
                           </a>

                        </li>
                     {{ end }}
                  {{ end }}
              </ul>
           </div>
           {{ partial "footer.html" . }}
       </section>
     <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
   </body>
</html>
