{{ if .Get "src" }}
  {{ $path := .Get "src" }}
  {{ $image := resources.Get $path }}
  {{ with (.Get "quality") }}
     {{ $image = $image.Fit (print "768x1024 " . " Lanczos") }}
  {{ else }}
     {{ $image = $image.Fit "768x1024 q75 Lanczos" }}
  {{ end }}
  <figure class="{{ with .Get "position"}}{{ . }}{{ else -}} left {{- end }}" >
    <img src="{{ $image.RelPermalink }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} {{ with .Get "style" }} style="{{ . | safeCSS }}" {{ end }} width="{{ $image.Width }}" height="{{ $image.Height }}" />
    {{ if .Get "caption" }}
      <figcaption class="{{ with .Get "captionPosition"}}{{ . }}{{ else -}} center {{- end }}" {{ with .Get "captionStyle" }} style="{{ . | safeCSS }}" {{ end }}>{{ .Get "caption" | safeHTML }}</figcaption>
    {{ end }}
  </figure>
{{ end }}
