{{/*

Example Usage:

{{< video poster="/images/sample_preview.jpg" src="/videos/sample.mp4" >}}

On my Mac, to convert a video I had to do:

ffmpeg -i input_display.gif -movflags faststart -pix_fmt yuv420p -vf "scale=trunc(iw/2)*2:trunc(ih/2)*2" input_display.mp4

*/}}

{{ $poster_path := .Get "poster" }}
{{ $image := resources.Get $poster_path }}
{{ $image := $image.Fit "768x1024 q75 Lanczos" }}
<video controls
       preload=none
       playsinline=true
       poster={{ $image.RelPermalink }}
       src={{ .Get "src" }}>
  <p>Your browser doesn't support this embedded video.</p>
</video>
