{{ partial "head.html" . }}
  <body>
  {{ partial "nav.html" . }}
 
  <div id="wrapper" class="home">
    {{ range .Site.RegularPages.GroupByDate "2006" }}
    <div class="archive">
      <h1>{{ .Key }}</h1>
      {{ range .Pages }}
      {{ if eq .Type "posts" }}
      <p><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .GetTerms "categories" }}
        {{ range . }}
        <span class="tag"><a href="{{ .RelPermalink }}">{{ lower .LinkTitle }}</a></span>
        {{ end }}
        {{ end }}
      </p>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}
    {{ partial "footer.html" . }}
  </div>

  </body>
</html>
