{{ partial "head.html" . }}

<body>
  {{ partial "nav.html" . }}
  <div id="wrapper" class="home">
    <div class="archive">
      {{ range ( where .Site.RegularPages "Type" "posts" | first 20 ) }}
      <p><a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ with .GetTerms "categories" }}
        {{ range . }}
        <span class="tag"><a href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a></span>
        {{ end }}
        {{ end }}
      </p>
      {{ end }}
    </div>
    <a href="/archives">Archives</a>&nbsp;🗄️
    {{ partial "footer.html" . }}
  </div>
</body>

</html>