{{ partial "head.html" . }}
  <body>
  {{ partial "nav.html" . }}
 
  <section id="wrapper" class="home">
    {{ range .Site.RegularPages.GroupByDate "2006" }}
    <div class="archive">
      <h1>{{ .Key }}</h1>
      <table style="table-layout:auto">
        {{ range .Pages }}
        {{ if eq .Type "posts" }}
        <tr>
          <td style="width:1px;white-space:nowrap;padding-right:10px;font-weight:bold;">{{ .Date.Format "Jan 02" }}</td>
          <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
        </tr>
        {{ end }}
        {{ end }}
      </table>
    </div>
    {{ end }}
    {{ partial "footer.html" . }}
  </section>

  </body>
</html>
