/*
 * IBM Plex Sans font
 * Originally included via:
 * @import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600);
 * But inlined so I could fix:
 * https://developers.google.com/web/updates/2016/02/font-display?utm_source=lighthouse&utm_medium=unknown
 */

/* cyrillic-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdzeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdXeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdLeFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhd7eFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhd_eFaxOedfTDw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIxsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIVsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIJsdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: fallback;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdP3pBmtF8A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'), url(https://fonts.gstatic.com/s/ibmplexsans/v6/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
 * END IBM Plex Sans font
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Spacing */

.post h1, h3, h4, h5, p, #post-body ul, #post-list li, #post-body ol, pre {
  margin-bottom: 10px;
  color: #282828;
}

/* Base */

html, body {
  height: 100%;
  background: #FFFFFF;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #FF4538;
}

h2, h3 {
  color: #FF4538;
  font-size: 20px;
  font-weight: bold;
}

.archive {
    margin: 0 0 20px 0;
    font-size: 16px;
}

.archive .post-item {
  padding: 10px 0px;
  overflow-x: hidden;
}

.archive .post-time {
  display: inline-block;
  width: 60px;
  margin: 0;
  color: #282828;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .archive .post-time {
    margin: 5px 0;
    width: auto;
    font-size: 15px;
    display: block;
  }
}

nav.main-nav {
    padding: 20px 20px 0;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
}

nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 1.35;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 700px) {
  nav.main-nav {
      padding: 20px 10px 0 0;
      margin: 0 auto;
      text-align: right;
      z-index: 100;
  }
  nav.main-nav a {
      top: 8px;
      right: 6px;
      padding: 8px 8px;
      color: #282828;
      font-size: 13px;
      line-height: 1.35;
      border-radius: 3px;
  }
}
@media (max-width: 324px) {
    nav.main-nav a.cta {
      display: none;
    }
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
}

/*Accent color*/

a, #title, #post-list a:hover, #title:hover {
  text-decoration: underline;
}

p a {
  text-decoration: underline;
  color: #282828;
}


/*Transitions*/

a, #post-nav a, #post-list a {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    color: #282828;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-position: outside;
    /* text-indent: -1.5em; */
    margin-left: 1.5em;
}

ul>li {
    list-style-type: disc;
}


/* Line Height */

#post-body, p {
    margin-top: 10px;
    line-height: 1.7em;
}
#post-body p > a {
  word-break: break-word;
  white-space: pre-wrap;
}

b, strong {
    font-weight: 700;
}

em, i {
    font-style: italic;
}


.home h1 {
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #FF4538;
}

.post h2 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.post h2.headline {
    margin: -5px 0 0 0;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

p.small {
    font-size: 14px;
    line-height: 1.5;
    display: block;
    text-align: center;
    margin-top: 20px;
}

hr {
    display: block;
    border: none;
    height: 1px;
    margin: 40px auto;
    background: #eee;
}

table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    font-size: 13px;
    line-height: 1.5em;
}

th, td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

table td, td {
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;
}

tr>td {
    border-top: 1px solid #282828;
}

tr:nth-child(odd)>td {
    background: #F5F1F1;
}

thead th, th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #444;
    border-bottom: 1px solid #282828;
    cursor: default;
    white-space: nowrap;
}

img {
    width: calc(100% + 40px);
    margin-left: calc(-20px);
    margin-right: calc(-20px);
}


#footer {
  margin-top: 20px;
}

/* Post Page */

#wrapper.post {
    max-width: 670px;
}
.post {
    margin: auto;
}

/* Post Navigation */

/* Media Queries */

@media screen and (max-width: 540px) {
    #wrapper {
        padding: 20px 20px 20px 20px;
    }
    #header {
        margin-bottom: 60px;
    }
    .post {
        margin: 40px 0;
    }
    #footer {
        margin-top: 0px;
    }
    h1 {
        font-size: 26px;
    }
    .post h2.headline {
        font-size: 13px;
    }
    .post h1 {
        font-size: 24px;
    }
    .post h2 {
        font-size: 20px;
    }
}
