/* Background */ .chroma { color: #f8f8f2; background-color: #282a36 }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: rgba(255,98,102,.7); }
/* KeywordConstant */ .chroma .kc { color: rgba(255,98,102,.7); }
/* KeywordDeclaration */ .chroma .kd { color: rgba(255,98,102,.7); }
/* KeywordNamespace */ .chroma .kn { color: rgba(255,98,102,.7); }
/* KeywordPseudo */ .chroma .kp { color: rgba(255,98,102,.7); }
/* KeywordReserved */ .chroma .kr { color: rgba(255,98,102,.7); }
/* KeywordType */ .chroma .kt { color: rgba(255,98,102,.7); }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: rgba(255,98,102,.7); }
/* NameBuiltin */ .chroma .nb { color: rgba(255,98,102,.7); }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc {  }
/* NameConstant */ .chroma .no {  }
/* NameDecorator */ .chroma .nd {  }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne {  }
/* NameFunction */ .chroma .nf { color: #a39b94; }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl { color: rgba(255,98,102,.7); }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx {  }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: rgba(255,98,102,.7); }
/* NameVariable */ .chroma .nv { color: #ff6266; }
/* NameVariableClass */ .chroma .vc { color: rgba(255,98,102,.7); }
/* NameVariableGlobal */ .chroma .vg { color: rgba(255,98,102,.7); }
/* NameVariableInstance */ .chroma .vi { color: rgba(255,98,102,.7); }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l {  }
/* LiteralDate */ .chroma .ld {  }
/* LiteralString */ .chroma .s { color: #ff6266; }
/* LiteralStringAffix */ .chroma .sa { color: #ff6266; }
/* LiteralStringBacktick */ .chroma .sb { color: #ff6266; }
/* LiteralStringChar */ .chroma .sc { color: #ff6266; }
/* LiteralStringDelimiter */ .chroma .dl { color: #ff6266; }
/* LiteralStringDoc */ .chroma .sd { color: #ff6266; }
/* LiteralStringDouble */ .chroma .s2 { color: #ff6266; }
/* LiteralStringEscape */ .chroma .se { color: #ff6266; }
/* LiteralStringHeredoc */ .chroma .sh { color: #ff6266; }
/* LiteralStringInterpol */ .chroma .si { color: #ff6266; }
/* LiteralStringOther */ .chroma .sx { color: #ff6266; }
/* LiteralStringRegex */ .chroma .sr { color: #ff6266; }
/* LiteralStringSingle */ .chroma .s1 { color: #ff6266; }
/* LiteralStringSymbol */ .chroma .ss { color: #ff6266; }
/* LiteralNumber */ .chroma .m { color: #ff6266; }
/* LiteralNumberBin */ .chroma .mb { color: #ff6266; }
/* LiteralNumberFloat */ .chroma .mf { color: #ff6266; }
/* LiteralNumberHex */ .chroma .mh { color: #ff6266; }
/* LiteralNumberInteger */ .chroma .mi { color: #ff6266; }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ff6266; }
/* LiteralNumberOct */ .chroma .mo { color: #ff6266; }
/* Operator */ .chroma .o {  }
/* OperatorWord */ .chroma .ow { color: rgba(255,98,102,.7); }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: hsla(0,0%,100%,.3); }
/* CommentHashbang */ .chroma .ch { color: hsla(0,0%,100%,.3); }
/* CommentMultiline */ .chroma .cm { color: hsla(0,0%,100%,.3); }
/* CommentSingle */ .chroma .c1 { color: hsla(0,0%,100%,.3); }
/* CommentSpecial */ .chroma .cs { color: hsla(0,0%,100%,.3); }
/* CommentPreproc */ .chroma .cp { color: hsla(0,0%,100%,.3); }
/* CommentPreprocFile */ .chroma .cpf { color: hsla(0,0%,100%,.3); }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #ff5555 }
/* GenericEmph */ .chroma .ge { text-decoration: underline }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh { font-weight: bold }
/* GenericInserted */ .chroma .gi { color: #a39b94; font-weight: bold }
/* GenericOutput */ .chroma .go { color: #44475a }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu { font-weight: bold }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl { text-decoration: underline }
/* TextWhitespace */ .chroma .w {  }
