html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

blockquote {
  padding-left: 15px;
  border-left: 2px solid #222129;
  margin: 20px 0;
}

code, kbd {
  font-family: monospace;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  background-color: #eee;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Spacing */

.post h2, h3, h4, h5, p, #post-body ul, #post-list li, #post-body ol, pre {
  margin-bottom: 10px;
}

/* Base */

html, body {
  font-size: 18px;
  height: 100%;
  background: #fff;
  color: #222129;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 1.54;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2,h3 {
  font-weight: bold;
  font-size: 24px;
}

p.main-nav {
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  text-align: right;
  z-index: 100;
  color: #fff;
}

nav {
  background: #222129;
}

p.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  line-height: 1.35;
  text-decoration: underline;
  text-decoration-color: #fff;
  box-shadow: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 700px) {
  nav.main-nav {
    padding: 20px 10px 0 0;
  }
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
}

/*Accent color*/
a, #title, #post-list a:hover, #title:hover {
  color: #222129;
  text-decoration-color: #222129;
  text-decoration: underline;
}

ol, ul {
  margin-left: 27px;
}

mark {
  background: #222129;
  color: #fff;
}

/* Line Height */
#post-body, p {
  margin-top: 10px;
}

#post-body p > a {
  word-break: break-word;
  white-space: pre-wrap;
}

b, strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

.post .date-line {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

p.copyright {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  text-align: center;
  margin-top: 20px;
}

table, td, th {
  border: 1px dashed;
  padding: 10px;
}

.archive .idate {
  width:1px;
  white-space:nowrap;
  padding-right:10px;
  font-weight:bold;
}

.archive table, .archive td, .archive th {
  padding: 3px 0;
  border: none;
  margin: 0 0 10px 0;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

th {
  font-weight:800;
  text-align: left;
}

img {
  width: calc(100% + 40px);
  margin-left: calc(-20px);
  margin-right: calc(-20px);
}

figure {
  max-width: 100%;
  margin: 25px 0;
}

figcaption {
    font-size: 14px;
    padding: 5px 10px;
    margin-top: -6px;
    background: #000;
    color: #fff;
    width: calc(100% + 40px);
    margin-left: calc(-20px);
    margin-right: calc(-20px);
    text-align: center;
  }

#footer {
  margin-top: 20px;
}

/* Post Page */
#wrapper.post {
  max-width: 800px;
}
.post {
  margin: auto;
}

video {
  border-radius: 8px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

svg {
  width: 100%;
  height: auto;
}

/* Post Navigation */

/* Media Queries */

@media screen and (max-width: 540px) {
  #wrapper {
    padding: 10px 20px 20px 20px;
  }
  #header {
    margin-bottom: 60px;
  }
  .post {
    margin: 40px 0;
  }
}

.highlight {
  width: calc(100% + 40px);
  margin-left: calc(-20px);
  margin-right: calc(-20px);
  background-color: #2e3440;
  padding: 20px 20px 10px 20px;
  white-space: pre;
  overflow-y: auto;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: #fff;
    background: #222129;
  }
  blockquote {
    border-left: 2px solid #fff;
  }
  a, #title, #post-list a:hover, #title:hover {
    color: #fff;
    text-decoration-color: #fff;
  }
  code, kbd {
    color: #fff;
    background: #444129;
  }
  svg {
    background: #555;
  }
  mark {
    color: #222129;
    background: #fff;
  }
}
