html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0
}

@font-face {
  font-family:Fira Code;
  font-style:normal;
  font-weight:400;
  src:url(/assets/FiraCode-Regular.woff)format("woff")
}
@font-face {
  font-family:Fira Code;
  font-style:normal;
  font-weight:800;
  src:url(/assets/FiraCode-Bold.woff)format("woff")
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

body {
  line-height: 1;
  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -.02em;
}

blockquote {
  border-top: 1px solid #ffa86a;
  border-bottom: 1px solid #ffa86a;
  margin: 40px 0;
  padding: 25px;
}

blockquote p:first-of-type {
  margin-top:0
}

blockquote p:last-of-type {
  margin-bottom:0
}

blockquote p {
  position:relative
}

blockquote p:first-of-type:before{
  content:">";
  display:block;
  position:absolute;
  left:-25px;
  color:#ffa86a;
}

code, kbd {
  font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  background: rgba(255,168,106,.2);
  background: rgba(255,168,106,.2);
  color: #ffa86a;
  padding: 1px 6px;
  margin: 0 2px;
  font-size: .95rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Spacing */

.post h2, h3, h4, h5, p, #post-body ul, #post-list li, #post-body ol, pre {
  margin-bottom: 10px;
}

/* Base */

html, body {
  font-size: 16px;
  height: 100%;
  background: #222129;
  color: #fff;
}

h1,h2,h3 {
  color: #FFA36A;
}

a, #title, #post-list a:hover, #title:hover {
  color: #fff;
  text-decoration-color: #fff;
}

.post .date-line {
  color: #FFA36A;
}

body {
  font-family: Fira Code,monospace,Courier;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl","calt";
}

h1 {
  font-weight: bold;
  font-size: 18px;
}

h2, h3 {
  font-weight: bold;
}

.archive {
  margin: 0 0 20px 0;
  font-size: 15px;
}

.archive .post-item {
  padding: 3px 0px;
  overflow-x: hidden;
  font-size: 18px;
}

.archive .post-time {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .archive .post-time {
    margin: 5px 0;
    width: auto;
    font-size: 16px;
    display: block;
  }
}

nav.main-nav {
  padding: 20px 20px 0;
  margin: 0 auto;
  text-align: right;
  z-index: 100;
}

nav.main-nav a {
  top: 8px;
  right: 6px;
  padding: 8px 12px;
  line-height: 1.35;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 700px) {
  nav.main-nav {
    padding: 20px 10px 0 0;
    margin: 0 auto;
    text-align: right;
    z-index: 100;
  }
  nav.main-nav a {
    top: 8px;
    right: 6px;
    padding: 8px 8px;
    line-height: 1.35;
    border-radius: 3px;
    text-decoration: underline;
  }
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

/*Accent color*/

a, #title, #post-list a:hover, #title:hover {
  text-decoration: underline;
  font-weight: bold;
}

ol {
  list-style:none;
  margin-left: 20px;
}

ol li {
  counter-increment: list;
  list-style-type: none;
  position: relative;
}

ol li {
  counter-increment:li;
}

ol li:before {
  content:counter(li);
  position:absolute;
  right:calc(100% + 10px);
  color:#ffa86a;
  display:inline-block;
  text-align:right;
}

ol ol {
  list-style-type:lower-alpha;
}

ol li, ul li {
  position: relative;
}

ul {
  list-style:none;
  margin-left: 20px;
}

ul li:not(:empty)::before {
  content: "-";
  position: absolute;
  left: -20px;
  color: #ffa86a;
}

mark {
  background: #ffa86a;
  color: #222129;
}

/* Line Height */
#post-body, p {
  margin-top: 10px;
  line-height: 22px;
}

#post-body p > a {
  word-break: break-word;
  white-space: pre-wrap;
}

b, strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

.home h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.post .date-line {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 15px;
}

p.copyright {
  font-size: 14px;
  line-height: 1.5;
  display: block;
  text-align: center;
  margin-top: 20px;
}

table, td, th {
  border: 1px dashed #ffa86a;
  padding: 10px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 40px 0;
}

th {
  font-weight:800;
  color: #ffa86a;
  text-align: left;
}

img {
  width: calc(100% + 40px);
  margin-left: calc(-20px);
  margin-right: calc(-20px);
}

#footer {
  margin-top: 20px;
}

/* Post Page */

#wrapper.post {
  max-width: 800px;
}
.post {
  margin: auto;
}

video {
  border-radius: 8px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

svg {
  width: 100%;
  height: auto;
  background: #444149;
}

/* Post Navigation */

/* Media Queries */

@media screen and (max-width: 540px) {
  #wrapper {
    padding: 20px 20px 20px 20px;
  }
  #header {
    margin-bottom: 60px;
  }
  .post {
    margin: 40px 0;
  }
  #footer {
    margin-top: 0px;
  }
  h1 {
    font-size: 18px;
  }
  .post .date-line {
    margin-top: 4px;
    font-size: 16px;
  }
  .post h1 {
  }
  .post h2 {
  }
}
